<link href="~/assets/css/master.css" rel="stylesheet" />
<div id="leftside">
<div id="scroll-side-menu" class="side-menu">
@*<div id="sm-btn"><img src="~/Images/images/side-itm.png"/></div>*@  
<div id="sm-btn"><span class="btn btn-successful">Admin</span> </div>  
<ul id="s-sm" class="left_menu navbar-left">
                  <a class="navbar-brand" href="index-2.html"><img src="~/Images/images/image/Logo.jpg" alt="" class="img-responsive navbar-brand_img" id="logo"/></a>
                      <li class="">
                       <span class="nav-icon-dashboard"></span> 
                      <span class="tri pos"><i class="fa fa-align-justify" style="color:#fff"></i><img src="~/Images/images/dropdown3.png" alt="" /></span>
                         <a tabindex="-1" class="btn btn-info" href="/Common/Home/">Deshboard</a>
                        
                      </li>
                    <li class="dropdown-submenu">
                       <span class="nav-icon-admin"></span> 
                      <span class="tri pos"><img src="~/Images/images/dropdown3.png" alt="" /></span>
                         <a tabindex="-1" class="btn btn-info" href="/Common/Home/">Admin</a>
                            <ul class="dropdown-menu">
                            <li>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop-main">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop-logo">
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 drop-text">
								<ul class="menu-list">
                                                              
                                </ul>
                                <ul class="menu-list">
                                   <li><a href="#">NOTICE OF THE 25TH ANNUAL GENERAL MEETING </a></li>
                                       <li><a href="#">Change of Registered Office(Head Office) </a></li>
									 <li><a href="#">Change of Share Department</a></li>
                                      <li><a href="#">NOTICE OF 23rd AGM </a></li>
                                        <li><a href="#">NOTICE OF Election PUBLIC SHAREHOLDERS Director</a></li>
											 <li><a href="#">ICE OF THE 25TH ANNUAL GENERAL MEETING </a></li> 
                                </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 drop-img">
                              <img src="~/Images/images/image/admin.png"  class="img-responsive img-thumbnail" alt=""/>
                                </div>
                                </div>
                              
                            </li>
                            </ul>
                      </li>
                      
                      <li class="dropdown-submenu">
                       <span class="nav-icon-hr"></span> 
                      <span class="tri pos"><img src="~/Images/images/dropdown3.png" alt="" /></span>
                         <a tabindex="-1" class="btn btn-info" href="/HRM/EmployeeInfo/">HRM</a>
                            <ul class="dropdown-menu">
                            <li>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop-main">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop-logo">
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 drop-text">
                               <p>We cannot stop living, we have to continue with our day today lives and live life to the fullest. You should plan ahead for your retirement today in order to ensure a secure and peaceful retirement.</p>                               
                                <p>We at Union Assurance have enhanced our retirement solutions in order for you to plan ahead for a happy retirement.</p>
                                
                               <ul class="menu-list">
                                   <li><a target="_blank" href="product_brochures/Union%20Challenger.pdf">Union Challenger</a></li>
                                   <li><a href="ua_products/en/14.html">Union Life Advantage</a></li>
                                </ul>
                                
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 drop-img">
                              <img src="~/Images/images/image/HR.jpg"  class="img-responsive img-thumbnail" alt=""/>
                                
                                </div>
                                
                                </div>
                            
                            </li>
                            </ul>
                      </li>
                       <li class="dropdown-submenu">
                       <span class="nav-icon-payroll"></span> 
                      <span class="tri pos"><img src="~/Images/images/dropdown3.png" alt="" /></span>
                         <a tabindex="-1" class="btn btn-info" href="/Payroll/Home/">Payroll</a>
                            <ul class="dropdown-menu">
                            <li>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop-main">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop-logo">
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 drop-text">
                                <p>Today a healthy life is considered a critical factor for a successful life. Illnesses comes without warning and the expenses that follow can be exorbitant. We at Union Assurance have enhanced solutions to assist you in such situations.</p>                               
                    
                                <ul class="menu-list">
                                   <!--<li><a href="#">Union Suwamaga</a></li>-->
                                   <li><a href="#">Union Life Advantage</a></li>
                                   <li><a href="#">Additional Benefits - Health</a></li>
                                </ul>
                                
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 drop-img">
                                <!--<img src="images/image/products/Union-Health2.png" class="img-responsive" alt=""/>-->
                                
                                <img src="~/Images/images/image/payroll1.jpg" class="img-responsive img-thumbnail" alt=""/>
                                </div>
                                  
                                </div>
                            
                            </li>
                            </ul>
                      </li>
                      <li class="dropdown-submenu">
                       <span class="nav-icon4"></span> 
                      <span class="tri pos"><img src="~/Images/images/dropdown3.png" alt="" /></span>
                         <a tabindex="-1" class="btn btn-info" href="/PharmaRaw/Home/">Pharma Raw</a>
                            <ul class="dropdown-menu">
                            <li>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop-main">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop-logo">
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 drop-text">
                                  <p>Your child will have different aspirations and would want a good education for themselves. As parents you would want to give the best education for your child to achieve his / her dreams. </p>                               
                                <p>In order for you to plan ahead we at Union Assurance have tailor-made solutions to secure your child’s education plans.</p>
                                
                                 <ul class="menu-list">
                                   <li><a href="ua_sisumaga/index.html">Union Sisumaga</a></li>
                                   <li><a href="ua_products/en/15.html">Union Life Advantage</a></li>
                                </ul>
                                
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 drop-img">
                                <img src="~/Images/images/image/proimage/nav-manage.jpg" class="img-responsive img-thumbnail"  alt=""/>
                                
                                </div>
                                
                                </div>
                            
                            </li>
                            </ul>
                      </li>
                      
                     
                     <li class="">
                        <span class="nav-icon-logout"></span> 
                      <span class="tri pos"><i class="fa fa-align-justify" style="color:#fff"></i><img src="~/Images/images/dropdown3.png" alt="" /></span>
                         <a tabindex="-1" class="btn btn-info" href="/Home/LogOut">Log Out</a>
                        
                      </li>
  
                  
               </ul>
    </div>
</div><!-- end of top_wrapper-->
<script>
    $(function () {
        var sm = document.getElementById('sm');
        var ssm = document.getElementById('scroll-side-menu');
        $(window).scroll(function () {
            if ($(this).scrollTop() > 0) {
                $("#a").slideUp(600);
                $("#scroll-side-menu").css("cssText", "left: -165px;");
                $("#logo-two").addClass('log-act');
            }
            else {
                $("#scroll-side-menu").css("cssText", "left: -165px;");
                $("#a").slideDown(600);
                $("#logo-two").removeClass('log-act');
            }
        });
        $("#sm-btn").click(function () {
          
            $("#scroll-side-menu").toggleClass("open");
            $("#scroll-side-menu .dropdown-submenu .tri").toggleClass("pos");
        });
    });
</script>