<div class="content white menuheight">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <ul class="nav col-xs-4 visible-xs">
                <li class="dropdown1" style="padding-top:4px">
                    <a href="#" class=" btn btn-warning">Inventory </a>
                </li>
            </ul>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--/.navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown Structure"><a href="/InventoryManagement/Home" class="dropdown-toggle">Home </a></li>
                <li class="dropdown Leave">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li><a class="btn btn-info" href="/Config/UOM/Index">UOM</a></li>
                                    <li><a class="btn btn-info" href="/Config/ProductCatagory/Index">Product Catagory</a></li>
                                    <li><a class="btn btn-info" href="/Config/ProductColor/Index">Product Color</a></li>
                                    <li><a class="btn btn-info" href="/Config/ProductBrand/Index">Product Brand</a></li>
                                    <li><a class="btn btn-info" href="/Config/ProductSize/Index">Product Size</a></li>
                                    <li><a class="btn btn-info" href="/Config/ProductType/Index">Product Type</a></li>
                                    <li><a class="btn btn-info" href="/Config/Product/Index">Product</a></li>
                                    <li><a class="btn btn-info" href="/Config/Customer/Index">Customer</a></li>
                                    <li><a class="btn btn-info" href="/Config/Employee/Index">Employee</a></li>
                                    <li><a class="btn btn-info" href="/Config/Supplier/Index">Supplier</a></li>
                                    <li><a class="btn btn-info" href="/Config/ZoneOrAreas/Index">ZoneOrAreas</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="dropdown Structure"><a href="/InventoryManagement/Purchase" class="dropdown-toggle">Purchease </a></li>ProductAssaign
                <li class="dropdown Structure"><a href="/InventoryManagement/ProductAssaign" class="dropdown-toggle">Product Assaign </a></li>
                <li class="dropdown Structure"><a href="/InventoryManagement/Stock" class="dropdown-toggle">Stock </a></li>
                <li class="dropdown Structure"><a href="/InventoryManagement/Sales" class="dropdown-toggle">Sales </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown1">
                    <a href="#" class="dropdown-toggle btn btn-warning" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
