@{
    ViewBag.Title = "Index";
}
<div class="headrow">
    <button type="button" title="Add New Product" data-url="/InventoryManagement/ProductAssaign/Create" onclick="GoTo(this)" id="" class="i-btn-add "> New</button>
    <button type="button" title="Delete Product" data-url="/InventoryManagement/ProductAssaign/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="i-btn-remove"> Delete</button>
</div>
