@{
    ViewBag.Title = "Index";
}
@model InventoryViewModel.Models.Product
<div class="headrow">
    <button type="button" title="Add New Product" data-url="/Config/Product/Create" onclick="GoTo(this)" id="" class="i-btn-add "> New</button>
    <button type="button" title="Delete Product" data-url="/Config/Product/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="i-btn-remove"> Delete</button>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Product List</p>
    </div>
    <p></p>
    <div class="row">
        <div id="container">
            <div id="demo">
                <table id="myDataTable" class="display">
                    <thead>

                        <tr>
                            <th>
                                <input type="checkbox" class="chkAll" />Select All
                            </th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>UOM</th>
                            <th>Product Size</th>
                            <th>Product Category</th>
                            <th>Product Brand</th>
                            <th>Product Color</th>
                            <th>Product Type</th>
                            <th>IsActive</th>
                            <th>Remarks</th>
                        </tr>
                        <tr>
                            <th style="padding-left: 2.5%">Actions</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>UOM</th>
                            <th>Product Size</th>
                            <th>Product Category</th>
                            <th>Product Brand</th>
                            <th>Product Color</th>
                            <th>Product Type</th>
                            <th>IsActive</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="headrow">
    <button type="button" title="Add New Product" data-url="/Config/Product/Create" id="" class="btnCreate i-btn-add "> New</button>
    <button type="button" title="Delete Product" data-url="/Config/Product/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="i-btn-remove"> Delete</button>
</div>
<script>
    $(document).ready(function () {
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Config/Product/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "sScrollX": '110%',

            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "10%",
                                "fnRender": function (oObj) {
                                    return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">&nbsp; <a title="Click on for Edit" style="text-decoration:none;" href=\"/Config/Product/Edit/' + oObj.aData[0] + '\"  class=" i-btn-edit-row"></a>' +
                                    '&nbsp; <a title="Click on for Delete" style="text-decoration:none;"  data-url="/Config/Product/Delete" onclick="deletedData(this, myDataTable,' + oObj.aData[0] + ');"  class="i-btn-remove-row"></a>';
                                }
                            }
                            , { "sName": "Code", "sWidth": "10%" }
                                    , { "sName": "Name", "sWidth": "10%" }
                                    , { "sName": "UOM", "sWidth": "5%" }
                                    , { "sName": "ProductSize", "sWidth": "5%" }
                                    , { "sName": "ProductCategory", "sWidth": "10%" }
                                    , { "sName": "ProductBrand", "sWidth": "10%" }
                                    , { "sName": "ProductColorName", "sWidth": "10%" }
                                    , { "sName": "ProductTypeName", "sWidth": "10%" }
                                    , { "sName": "IsActive", "sWidth": "10%" }
                                    , { "sName": "Remarks", "sWidth": "20%" }
            ]
        });
        oTable.columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [{ type: "checkbox", "sClass": "chkAll" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
            ]
        });
        SelectAllForDelete();
    });
</script>
